// Text Colors
$bgColor: #eee;
$textColor: #222;
$textColor-light: #444;

// button styles
$buttonShadow : 0 5px 10px rgba(#0F18FF, 0.3);

$gradient: linear-gradient(to bottom right, #05D2FF, #0F18FF );

// Shadows
$lightShadow: 0 2px 4px rgba(0,0,0,0.15);